<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微云打-开放平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" href="@CWI.MCP.Common.RoutingUtil.CssUrl("/Styles/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@CWI.MCP.Common.RoutingUtil.CssUrl("/Styles/open.css")" />

	<style>
		li,p,h5{
			list-style: none;
			font-size: 14px;
		}
		h5{
			font-weight: bold !important;
		}
		li,p{
			line-height: 1.6;
		}
		ul{
			padding:0;
		}
		li{
			margin-bottom: 14px;
		}
		.footer{
			position: static;
			margin-top: 30px;
		}
		
	</style>
</head>
<body>
    <!-- 导航 -->
  <div class="container">
			<h3 style="text-align:center;    margin-bottom: 25px;" >微云打开放平台开发者协议</h3>
			<p style="margin-bottom: 5px;">欢迎你使用微云打开放平台提供的开发服务！</p>
			<p style="margin-top: 5px;">本协议由深圳映美卡莫网络有限公司（以下简称“甲方”）与按照本协议约定使用微云打-开放平台的法律实体（以下简称“乙方”） 本着平等、公平、诚实信用原则共同缔结，本协议具有合同效力。</p>
			
			<h5>第一条：协议生效及变更</h5>
			<li>1.1 请乙方务必在使用微云打-开放平台（以下简称“微云打”或“开放平台”）之前认真阅读全部协议内容，如有任何疑问，可向甲方咨询。无论乙方事实上是否在使用开放平台之前认真阅读了本协议内容，只要乙方同意接受本协议并使用开放平台的，本协议将按约定的方式生效。届时乙方不应以未阅读本协议的内容为由，或者以未获得甲方对乙方问询的解答等情况为由进行任何形式的抗辩进而主张本协议无效，或要求撤销本协议。如果乙方不同意本协议的约定，则不能使用开放平台和相关功能。</li>
			<li>1.2 甲方在法律允许范围内保留根据业务需要不时地制订、修改本协议或各类规则的权利。除非本协议另有约定，否则如本协议有任何变更将公布于甲方相关网页上或以其他方式通知乙方。如乙方继续使用开放平台的，则视为乙方对变更后的内容不持异议并同意遵守。如乙方不同意相关变更，则乙方有权选择终止本协议，但乙方在终止之前的行为仍受本协议约束。除另行明确声明外，任何使开放平台服务范围扩大或功能增强的新内容均受本协议约束。</li>
			<li>1.3 乙方在线接受本协议，即在甲方和乙方之间产生法律效力。 </li>
			
			<h5>第二条：定义</h5>
			<p>术语含义如无特别说明，则下列术语在本协议中的含义为：</p>
			<li>2.1 开发者：指经有效注册、申请后，将开放平台所提供的各类接口接入其享有相应权利的各种应用而向用户提供各种服务的个人、法人或其他组织，简称为“乙方”。 </li>
			<li>2.2 应用：指由开发者开发，或开发者经权利人授权，通过开放平台向相关用户提供各种服务的应用程序及相关服务，包括但不限于打印机嵌入、小票打印、快递面单打印接口等现存的各种服务及今后可能出现的各种服务。 </li>
			<li>2.3 开放平台：指由深圳映美卡莫网络有限公司所拥有、控制、经营的以及未来将上线的其他开放平台或网站及前述各平台网站的下属子页面、相关产品客户端等，以下简称为“开放平台”。开放平台目前以为开发人员开发打印软硬件服务提供对接接口为主。</li>
			<li>2.4 微云打、开发者均同意和理解：</li>
			<p>（1）开放平台是一个中立的平台服务提供者，仅向开发者提供开放接口或相关中立的技术支持服务，以供开发者自主发布、运营、推广其应用等；</p>
			<p>（2）开发者的应用由开发者自主开发、独立运营并独立承担全部责任。甲方不会、也不可能参与开发者应用的研发、运营等任何活动，甲方也不会对开发者的应用进行任何的修改、编辑或整理等；</p>
			<p>（3）因开发者应用及服务产生的任何纠纷、责任等，以及开发者违反相关法律法规或本协议约定引发的任何后果，均由开发者独立承担责任、赔偿损失，与甲方无关。如侵害到甲方或他人权益的，开发者须自行承担全部责任和赔偿一切损失。</p>
			<li>2.5 开放平台运营数据：是指开发者在开放平台、应用等中产生的相关数据，包括但不限于开发者提交的数据、操作行为形成的数据及各类交易数据等。“开放平台运营数据”的所有权及其他相关权利属于甲方，且是甲方的商业秘密，依法属于开发者享有的相关权利除外。</li>
			
			
			<h5>第三条：使用申请</h5>
			<li>3.1 乙方如需使用开放平台应首先承诺遵守本协议以及网上已经公布或将来公布的各类规则，再通过开放平台完成乙方信息注册绑定，并与甲方建立唯一应对关系。</li>
			<li> 在乙方完成注册程序或以其他甲方允许的方式实际使用开放平台服务时，乙方应当是具备完全民事行为能力和完全民事权利能力的自然人、法人或其他组织。</li>
			<li>3.2 在注册流程时，乙方应当依照法律法规要求，并按开放平台相应页面的提示真实、准确提供乙方的资料，并于资料信息发生变更后及时更新，以保证所提交资料的真实、及时、完整和准确。甲方如有合理理由怀疑乙方提供的资料错误、不实、过时或不完整的，有权向乙方发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对乙方提供部分或全部开放平台的服务，甲方对此不承担任何责任，乙方将承担因此产生的任何直接或间接损失及不利后果。</li>
			<li>3.3 乙方应当真实、准确提供并及时更新联系电话、联系地址、邮政编码等联系方式，乙方授权第三方提供的联系方式视为乙方提供，以便甲方或其他机构与乙方进行有效联系，因通过这些联系方式无法与乙方取得联系，导致乙方在使用开放平台过程中产生任何损失或增加费用的，应由乙方完全独自承担。乙方了解并同意，乙方有义务保持提供的联系方式的真实性和有效性，如有变更或需要更新的，乙方应按甲方要求进行操作。 </li>
			<li>3.4  开放平台为乙方提供打印机嵌入、打印小票、打印电子面单等多种开发对接接口，满足乙方打印管理的需求。请乙方在了解开放平台的相关功能后自行选择是否提交使用申请和进行使用。</li>
			<li>3.5 接口对接服务的条款：
			<ul>
				<li style="text-indent: 1em;">3.5.1 乙方同意以开放平台记录的数据为准核算确认使用开放平台的服务情况</li>
				<li style="text-indent: 1em;">3.5.2 开放平台发生系统错误、故障、系统存在缺陷、管理失误、系统升级、系统补丁、网络通信环境问题、数据存储环境问题、遭受攻击或存有漏洞、设备异常或故障等因素导致系统或数据异常或乙方及第三方数据灭失，包括但不限于打印指令传输失败、打印质量争议、打印不成功、数据丢失、数据泄密或被第三方窃取等，乙方同意由甲方对开放平台数据记录根据既有的证据或和乙方共同认可的情况进行调整，除乙方依法享有的权利外，乙方不得因此要求甲方赔偿给乙方或第三方造成的直接或间接经济损失。</li>
				
			</ul>
			</li>
			
			<h5>第四条：甲方的权责</h5>
			<li>4.1 负责开放平台的研发、系统运营及提供开放平台的技术服务。</li>
			<li>4.2 负责对开放平台正常运行的日常维护、系统升级等。</li>
			<li>4.3 提供指导、培训乙方使用开放平台的服务。</li>
			<li>4.4 有权协助乙方维护其合法权益。</li>
			<li>4.5 甲方有权向乙方推送广告及服务信息。</li>
			<li>4.6 无论在何种情况下，甲方均不对由于电力故障、罢工、劳动争议、暴乱、革命、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。</li>
			<li>4.7 乙方违反或涉嫌违反有关法律或者本协议之规定，使甲方遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，乙方应自行承担相关的责任，同时甲方有权向乙方索赔因此造成的损失和发生的费用，包括合理的律师费。</li>
			
			<h5>第五条：乙方的权责</h5>
			<li>5.1 根据开放平台使用要求提供相关的个人资料，严格遵守相关法律法规及本协议的规定；如果因本协议修订乙方不接受，乙方应停止使用开放平台，并协商处理已经接收的服务的善后事宜，承担被终止使用开放平台的后果。</li>
			<li>5.2 及时阅读甲方的正式通知，及时履行相关权利与义务。</li>
			<li>5.3 对于乙方提供的资料及数据信息，乙方授予甲方及其关联公司永久的、免费的许可使用权利（包括但不限于向乙方推送通知、广告及服务信息等），及使用再授权的权利。</li>
			<li>5.4 严格按照本协议的约定使用开放平台并负有保密的义务，不得复制、模仿、参照开放平台自行、参与或委托第三方开发类似系统或类似功能的平台。</li>
			<li>5.5 乙方同意甲方有权保存及使用用户的信息，包括向乙方、用户推送通知、广告及服务信息等，并在协议期满后仍可使用。</li>
			<li>5.6 乙方应确保自身所开展的相关业务符合法律法规的规定，确保其上传和打印资料以及更改接口等行为符合法律法规的规定。乙方违反或涉嫌违反有关法律或者本协议之规定，使甲方遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，乙方应自行承担相关的责任，同时甲方有权向乙方索赔因此造成的损失和发生的费用，包括合理的律师费。</li>
			<li>5.7 乙方不得从事任何包括但不限于以下的违反法规的行为，也不得为以下违反法规的行为提供便利（包括但不限于为乙方的用户的行为提供便利等）：
				<ul>
					<li>（1）反对宪法所确定的基本原则的行为；</li>
					<li>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的行为；</li>
					<li>（3）损害国家荣誉和利益的行为；</li>
					<li>（4）煽动民族仇恨、民族歧视，破坏民族团结的行为；</li>
					<li>（5）破坏国家宗教政策，宣扬邪教和封建迷信的行为；</li>
					<li>（6）散布谣言，扰乱社会秩序，破坏社会稳定的行为；</li>
					<li>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的行为；</li>
					<li>（8）侮辱或者诽谤他人，侵害他人合法权益的行为；</li>
					<li>（9）侵害他人知识产权、商业秘密等合法权利的行为；</li>
					<li>（10）恶意虚构事实、隐瞒真相以误导、欺骗他人的行为；</li>
					<li>（11）发布、传送、传播垃圾信息；</li>
					<li>（12）其他法律法规禁止的行为。</li>
				</ul>
			</li>
			<li>5.8 乙方不得从事包括但不限于以下行为，也不得为以下行为提供便利（包括但不限于为乙方的用户的行为提供便利等）：
				<ul>
					<li>（1）删除、隐匿、改变开放平台显示或其中包含的任何专利、著作权、商标或其他所有权声明；</li>
					<li>（2）对甲方提供的基础环境进行修改和删除，或以任何方式干扰或企图干扰甲方任何产品、任何部分或功能的正常运行，或者制作、发布、传播上述工具、方法等；</li>
					<li>（3）避开、尝试避开或声称能够避开任何内容保护机制，或导致用户认为乙方直接与开放平台及甲方相关产品进行交互；</li>
					<li>（4）在未获得甲方正式许可的情况下，以任何方式使用甲方URL地址、技术接口等；</li>
					<li>（5）在未经过用户同意的情况下，向任何其他用户及他方显示或以其他任何方式提供该用户的任何信息；</li>
					<li>（6）请求、收集、索取或以其他方式获取用户信息如登录帐号、密码或其他任何身份验证凭据，包括但不限于电话号码、邮箱地址等；</li>
					<li>（7）在没有获得用户明示同意的情况下，直接联系用户，或向用户发布骚扰信息；</li>
					<li>（8）为任何用户自动登录到开放平台提供代理身份验证凭据；</li>
					<li>（9）非经用户同意从事跟踪行为（包括但不限于识别其他用户在个人主页上查看、点击等操作行为）或从事任何侵犯用户隐私的行为；</li>
					<li>（10）自动将浏览器窗口定向到其他网页；</li>
					<li>（11）未经授权获取对甲方产品或服务的访问权；</li>
					<li>（12）应用中含有计算机病毒、木马或其他恶意程序等任何可能危害甲方或用户权益和终端信息安全等的内容，或被发现存在漏洞，可能会导致被植入木马或钓鱼网页；</li>
					<li>（13）未经过审批私自开放高危端口/服务，或在外网程序中加入web shell；</li>
					<li>（14）公开表达或暗示，乙方与甲方之间存在合作关系，包括但不限于相互持股、商业往来或合作关系等，或声称甲方对乙方的认可；</li>
					<li>（15）利用开放平台漏洞，进行恶意行为，包括但不限于发布违法违规信息，恶意劫持用户信息，捆绑软件安装，欺诈用户等；</li>
					<li>（16）出现公网IP裸露情况，或发生安全入侵类故障；</li>
					<li>（17）未经甲方许可，实施包括但不限于以赠送、发售等方式使用甲方或第三方的任何虚拟货币或品牌服务的行为；</li>
					<li>（18）其他甲方认为不应该、不适当的行为、内容。</li>
				</ul>
			
			
			
			</li>
			<h5>第六条：知识产权</h5>
			<li>6.1 甲方拥有开放平台的界面、平台名称和其他元素、开放平台上的数据资料的所有权、商业秘密以及其他相关的知识产权。本协议中未经提及的其他关于开放平台的权利由甲方保留。 </li>
			<li>6.2 相关的标识均属于深圳映美卡莫网络有限公司的知识产权，并受到著作权法、商标法和其它知识产权法律的保护，未经授权乙方不得复制、模仿、使用或发布上述标识。</li>
			<li>6.3 未经甲方另行书面同意，乙方不得为任何营利性或非营利性的目的自行实施、利用、转让或许可任何第三方实施、利用、转让上述知识产权。</li> 
			<li>6.4 乙方在使用开放平台过程中，发生相关的知识产权的纠纷，应立即通知甲方，如由此给乙方造成直接或间接的经济损失，甲方不承担任何的责任；如由此给甲方造成直接或间接的经济损失，乙方应承担相应的责任。</li>
			
			<h5>第七条：免责声明</h5>
			<li>7.1 对于甲方的产品和服务，甲方仅作下述有限保证，该有限保证取代任何文档、包装、或其他资料中的任何其他明示或默示的保证(如果有)。</li> 
			<li>甲方仅以"现有状况且包含所有错误"的形式提供相关的产品、软件或程序及任何支持服务，并仅保证：
				<ul>
					<li>· 甲方所提供的产品和服务能基本符合甲方正式公布的要求；</li>
					<li>· 甲方所提供的相关产品和服务基本与甲方正式公布的服务承诺相符；</li>
					<li>· 甲方仅在商业上允许的合理范围内尽力解决甲方在提供产品和服务过程中所遇到的任何问题。</li>
				</ul>
			</li>
			
			<li>在适用法律允许的最大范围内，甲方明确表示不提供任何其他类型的保证，不论是明示的或默示的，包括但不限于适销性、适用性、可靠性、准确性、完整性、无病毒以及无错误的任何默示保证和责任。</li>
			<li>7.2 在适用法律允许的最大范围内，甲方会尽最大努力向乙方提供服务，确保服务的连贯性和安全性；但甲方不能保证其所提供的服务毫无瑕疵，也无法随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。所以乙方也同意：即使甲方提供的服务存在瑕疵，但上述瑕疵是当时行业技术水平所无法避免的，其将不被视为甲方违约，同时，由此给乙方造成的数据或信息丢失等损失的，乙方同意放弃追究甲方的责任。</li>
			<li>7.3 甲方保留采取包括但不限于合并服务器等形式以达到服务器资源优化利用的权利，并对由此而可能导致的用户利益损失不承担责任。</li>
			<li>7.4 鉴于网络服务的特殊性，甲方有权在无需通知乙方的情况下根据开放平台的整体运营情况或相关运营规范、规则等，可以随时变更、中止或终止部分或全部的服务，若由此给乙方造成损失的，乙方同意放弃追究甲方的责任。</li>
			<li>7.5 为了向乙方提供更完善的服务，甲方有权定期或不定期地对提供本服务的平台或相关设备进行检修、维护、升级等，此类情况可能会造成相关服务在合理时间内中断或暂停的，若由此给乙方造成损失的，乙方同意放弃追究甲方的责任。</li>
			<li>7.6 在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，甲方将努力在第一时间与相关单位配合，及时进行修复，若由此给乙方造成损失的，乙方同意放弃追究甲方的责任。</li>
			<li>7.7 若由于以下情形导致服务中断或受阻，给乙方造成损失的，乙方同意放弃追究甲方的责任：
				<ul>
					<li>（1）受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；</li>
					<li>（2）乙方或甲方的电脑软件、系统、硬件和通信线路出现故障；</li>
					<li>（3）乙方操作不当；</li>
					<li>（4）乙方通过非甲方授权的方式使用本服务；</li>
					<li>（5）其他甲方无法控制或合理预见的情形。</li>
				</ul>
			
			</li>
			<h5>第八条：服务变更、中断或终止</h5>
			<li>8.1 本服务的所有权和运作权、法律允许范围内的解释权归甲方。甲方提供的服务将按照其发布的章程、服务条款和操作规则严格执行。</li> 
			<li>8.2 甲方有权在必要时修改服务条款，服务条款一旦发生变动，甲方将会在相关页面上公布修改后的服务条款。如果不同意所改动的内容，乙方应主动取消此项服务。如果乙方继续使用服务，则视为接受服务条款的变动。</li> 
			<li>8.3 出现下列情况之一的，甲方有权通过开放平台通知乙方，终止乙方使用开放平台和相关服务的权利，而无需承担任何责任：（1）乙方违反本协议的约定；（2）乙方违反甲方平台的条款、协议、规则、通告等相关规定，而被甲方终止提供服务的。</li>
			<li>8.4 乙方有权单方终止本协议，届时乙方需通过开放平台通知甲方。如乙方提出解约后继续使用开放平台，或重新提出使用开放平台的申请并被甲方接受的，则乙方仍需遵守本协议的约定。如乙方书面通知甲方不接受本协议或对其的修改，甲方有权随时中止或终止向乙方提供全部或部分本服务。</li>
			<li>8.5 因不可抗力因素导致乙方无法继续使用本服务或甲方无法提供本服务的，任何一方均有权随时终止协议。</li>
			<li>8.6 本协议约定的其他中止或终止条件发生或实现的，甲方有权随时中止或终止向乙方提供全部或部分本服务。</li>
			<li>8.7 如果一方及其债权人或任何其他合法方申请清算、破产、重组、和解或解除或一方资金无法维持公司正常运作；或一方无法赔偿任何应尽债务；或一方的债权人接管一方的经营，则相对方可终止本协议。</li>
			<li>8.8 由于乙方违反本协议约定，甲方依约终止向乙方提供本服务后，如乙方后续再直接或间接，或以他人名义注册使用本服务的，甲方有权直接单方面暂停或终止提供本服务。</li>
			<li>8.9 本协议终止之后，乙方需立即停止使用开放平台和相关服务，届时乙方使用开放平台所产生的相关数据也可能被删除而不可恢复,包括服务终止前乙方尚未完成的任何数据,由此造成甲方损失的，乙方应负责赔偿；且不影响乙方需要继续遵守上述保密的义务及不影响守约方追究违约方的违约责任。</li>
			<h5>第九条：隐私和信息披露</h5>
			<li>9.1 保护用户隐私是甲方的一项基本政策，甲方保证不对外公开或向第三方提供乙方申请资料及乙方在使用网络服务时存储在甲方的个人或法人信息，但下列情况除外：
				<ul>
					<li>· 事先获得乙方的明确授权；</li>
					<li>· 根据有关的法律法规要求；</li>
					<li>· 按照相关政府主管部门的要求；</li>
					<li>· 为维护社会公众的利益；</li>
					<li>· 为维护甲方的合法权益。</li>
				</ul>
			</li>
			<li>9.2 甲方可能会与第三方合作向乙方提供相关的网络服务，在此情况下，如该第三方同意承担与甲方同等的保护乙方隐私的责任，则甲方可将乙方的个人信息等提供给该第三方。</li>
			<li>9.3 在不透露单个用户隐私资料的前提下，甲方有权对整个用户数据库进行分析并对用户数据库进行商业上的利用（包括但不限于公布、分析或以其它方式使用用户访问量、访问时段、用户偏好等用户数据信息）。</li>
			<h5>第十条：其他约定</h5>
			
			<li>10.1 如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。</li>
			<li>10.2 甲方在乙方过失或违约时放弃本协议约定的权利的，不得视为甲方对乙方的其他或以后同类之过失或违约行为的弃权。</li>
			<li>10.3 甲方有权将本协议项下的权利及义务转让予甲方关联公司，届时甲方将通知乙方有关转让的情况。乙方在此特别认可，在收到甲方拟将本协议项下的权利及义务转让予甲方关联公司的书面通知时，即默示同意本协议权利及义务转移至甲方关联公司（无需乙方出具同意甲方转移权利或义务的书面文件），乙方对此不持有任何异议。乙方收到权利及义务的转移通知后，即应向甲方关联公司主张权利、履行义务，甲方关联公司亦有权行使本协议权利。</li>
			<li>10.4 因协议各方就本协议的签订、履行或解释发生争议，各方应努力友好协商解决。如协商不成，甲方和乙方同意向甲方所在地有管辖权的人民法院提起诉讼。</li>
			
			<h5>第十一条：法律适用与管辖</h5>
			<li>本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。 因本协议产生之争议，均应依照中华人民共和国法律予以处理。</li>
		</div>
    <!-- 公司信息 -->
    <div class="container footer">
        <div class="footer-open">
            <p>
                版权所有：深圳映美卡莫网络有限公司 © 2015 - @DateTime.Now.Year 版权所有 粤ICP备<a href="http://www.miitbeian.gov.cn/" onclick="javascript:viod();">10059556号-7</a> 法律公告 隐私保护
            </p>
        </div>
    </div>
</body>
</html>