@{
    ViewBag.Title = "ModifyPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- 主体 -->
<div class="container">
    <form id="resetpass" action="" class="form-horizontal">
        <div class="forget">
            <div class="form-group">
                <label for="" class="col-sm-1 control-label text-right">新密码</label>
                <div class="col-sm-3">
                    <input id="pass" type="password" class="form-control" data-verify-len="6|16"/>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-1 control-label text-right">确认密码</label>
                <div class="col-sm-3">
                    <input id="rePass" type="password" class="form-control" data-verify-len="6|16" data-verify-pass="#pass"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-3">
                    <button type="submit" class="btn btn-action">提交</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $("#resetpass").validateForm({
        render: function (conf) {
            var r = conf.verify, mess = conf.mess, elem = conf.elem, type = conf.verify_type, error_elem = conf.error_elem;
            if (r) {
                $(error_elem).addClass("hidden");
            } else {
                error_elem.innerHTML = mess;
                error_elem.className = "error-mess";
                elem.parentNode.appendChild(error_elem);
                error_elem.style.right = "-" + error_elem.offsetWidth + "px";
            }
        },
        submit: function() {
            $.ajax({
                url: "/user/DoModifyPassword",
                type: "post",
                dataType: "json",
                data: location.search.replace("?", "") + "&password=" + $("#pass").val() + "&rePassword=" + $("#rePass").val(),
                success: function (result) {
                    if (result.status == "1") {
                        alert('修改密码成功！');
                        location.href = '/user/login';
                    }
                    else {
                        alert(result.data);
                    }
                }
            });
        }
    });
</script>