@model CWI.MCP.Models.ViewModels.MCP.OPEN.DevRegisterViewMode
@{
    ViewBag.Title = "注册页面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="register">
        <form id="register" action="" class="form-horizontal" autocomplete="off">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="alert alert-danger hidden" role="alert"></div>
                </div>
            </div>
           <div class="form-group">
                    <label for="" class="col-sm-3 control-label text-right">手机号码</label>
                    <div class="col-sm-9"> 
                        <input id="mobile" type="text" class="form-control iphone" name="mobile" data-verify-phone=""/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label text-right">图形验证码</label>
                    <div class="col-sm-5">
                        <input id="picCode" type="text" name="picCode" class="form-control Code" data-verify-code="4"/>
                    </div>
                    <div class="col-sm-4">
                        <img class="defcaptcha" src="/user/authenticationCode" alt="图形验证码" onclick="getImageCode(this)" title="看不清,换一张"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="button" class="btn btn-default" style="width: 100%;" data-verify-smscode="#mobile|#picCode,#mobile" >获取短信验证码</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label text-right">手机验证码</label>
                    <div class="col-sm-9">
                        <input type="text" name="mobileCode" id="mobileCode" class="form-control"/>
                    </div>
                </div>
            <div class="form-group">
                <label for="" class="col-sm-3 control-label">密码</label>
                <div class="col-sm-9"> 
                    <input type="text" name="name1" id="name1" value=" " style="display:none" />
                    <input id="pass" type="text" autocomplete="new-password" oninput="this.type = 'password'" name="userPwd" class="form-control" data-verify-len="6|16" />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-3 control-label">确认密码</label>
                <div class="col-sm-9">
                    <input type="text" name="name" id="name1" value=" " style="display:none" />
                    <input id="confirm_pass" type="text"  autocomplete="new-password" oninput="this.type = 'password';this.setAttr" name="reUserPwd" class="form-control" data-verify-pass="#pass,两次输入密码不一致" data-verify-len="6|16" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <div class="checkbox" style="text-align: right">
                        <label>
                            <input type="checkbox" data-verify-check="请阅读并同意此协议" name=""/>我已阅读并接受<a href="/user/agreement" target="_blank">《微云打开放平台开发者协议》</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button id="allow_submit" type="submit" class="btn btn-disabled" disabled>注册</button>
                </div>
            </div>
            <div class="form-group" style="text-align:right;">
                <div class="col-sm-9 col-sm-offset-3">
                    已有帐号? <a href="/user/login" target="_self">去登录 </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">












    $("#register")
        .validateForm({
            render: function(conf) {
                var r = conf.verify,
                    mess = conf.mess,
                    elem = conf.elem,
                    type = conf.verify_type,
                    error_elem = conf.error_elem;
                if (r) {
                    $(error_elem).addClass("hidden");
                    if (type === "check") {
                        $("#allow_submit").attr("disabled", false);
                        $("#allow_submit").removeClass("btn-disabled").addClass("btn-action");
                    }
                } else {
                    switch (type) {
                    case "code":
                    case "phone":
                        error_elem.innerHTML = mess;
                        error_elem.className = "error-mess";
                        elem.parentNode.appendChild(error_elem);
                        var nw = $(elem).parent().next().outerWidth(true);
                        error_elem.style.right = "-" + ($(error_elem).innerWidth() + nw) + "px";
                        break;
                    case "check":
                        $("#allow_submit").attr("disabled", true);
                        $("#allow_submit").removeClass("btn-action").addClass("btn-disabled");
                        break;
                    default:
                        error_elem.innerHTML = mess;
                        error_elem.className = "error-mess";
                        elem.parentNode.appendChild(error_elem);
                        error_elem.style.right = "-" + error_elem.offsetWidth + "px";
                        break;
                    }
                }
            },
            smscode: function(conf) {
                var param = {};
                param.mobile = $(".iphone").val();
                param.picCode = $(".Code").val();
                param.codeType = 0;
                var errorHandler = $('.alert');
                if ($(conf.elem).attr("data-on")) {
                    return;
                }
                $(conf.elem).attr("disabled", true);
                $.post("/user/getsmsverifycode",
                    param,
                    function(result) {
                        if (result.status) {
                            errorHandler.addClass("hidden");
                            $(conf.elem).attr("data-on", "1");
                            var i = 120;
                            conf.elem.innerHTML = i + "秒后重新获取";
                            var intval = setInterval(function() {
                                    i--;
                                    conf.elem.innerHTML = i + "秒后重新获取";
                                    if (i === 0) {
                                        clearInterval(intval);
                                        conf.elem.innerHTML = "获取验证码";
                                        conf.elem.setAttribute("data-on", "");
                                        $(conf.elem).attr("disabled", false);
                                    };
                                },
                                1000);
                        } else {
                            $(conf.elem).attr("disabled", false);
                            errorHandler.html("<i class='fa fa-remove-sign'></i>" + result.data);
                            errorHandler.removeClass("hidden");
                        }
                    },
                    "json");
            },
            submit: function() {
                setTimeout(function() {
                        var form = $('.form-horizontal');
                        var errorHandler = $('.alert', form);
                        
                        for (var i = 0; i < iArr.length; i++) {
                            console.log(iArr[i])
                            iArr[i].ele.setAttribute("id", iArr[i].id);
                            
                            iArr[i].ele.setAttribute("name", iArr[i].name);
                        }
                        var param = form.serialize();
                        
                        $.ajax({
                            url: "/user/doregister",
                            type: "post",
                            dataType: "json",
                            data: param,
                            success: function (result) {
                                if (result.status == "1") {
                                    errorHandler.addClass("hidden");
                                    alert('注册成功！');
                                    location.href = '/user/login';
                                } else {
                                    errorHandler.html("<i class='fa fa-remove-sign'></i>" + result.data);
                                    errorHandler.removeClass("hidden");
                                }
                            }
                        });
                    },
                    2000);
            }
        });

    function getImageCode(img) {
        var date = new Date();
        img.src = "/user/authenticationcode?" + date.getTime();
    };




    var iArr = []

    if (navigator.userAgent.toLowerCase().indexOf("chrome") != -1 ) {
        var inputers = document.getElementsByTagName("input");
        for (var i = 0; i < inputers.length; i++) {
            if ((inputers[i].type !== "submit") && (inputers[i].type !== "password")) {
                var input = inputers[i];
                var inputName = inputers[i].name;
                var inputid = inputers[i].id;
                iArr.push({ ele: input, id: inputid, name: inputName });
                inputers[i].removeAttribute("name");
                inputers[i].removeAttribute("id");
                setTimeout(function () {
                    input.setAttribute("name", inputName);
                    input.setAttribute("id", inputid);
                }, 1)
            }
        }
    }
    console.log(iArr)






</script>
