<?xml version="1.0"?>
<appSettings>
  <!-- CacheUtil开关值, 1为打开，0为关闭-->
  <add key="CacheUtilSwitch" value="1" />
  <!-- CacheUtil超时时间， 单位是秒 -->
  <add key="CacheUtilExpireTime" value="72000" />
  <!-- Debug版本是否使用服务启动 -->
  <add key="IsDebugRunService" value="0" />
  <add key="IsLogToDb" value="1" />
  <!-- 验证码失败次数 -->
  <add key="VarifyCodeFailCount" value="50" />
  <!--验证码有效时间，单位：秒-->
  <add key="ValidatecodeExpire" value="1800" />
  <!-- 是否测试模式 -->
  <add key="IsTestModel" value="1" />
  
  <!-- 系统是否处于调试状态。此选项会影响向客户端显示的异常信息，JS和CSS路径等 -->
  <add key="Debug" value="true" />
  <!-- 手机端默认一页显示数据记录数-->
  <add key="PageSize" value="10" />
  <add key="ImageUrl" value="" />
  <add key="FileUrl" value="" />
  <!-- 是否使用压缩js -->
  <add key="ZipCssJs" value="false" />
  <!-- js，css，image等静态资源的版本号 -->
  <add key="Version" value="1.1.1.2" />

  <!--微信硬件平台产品ID-->
  <add key="ProductId" value="22144"/>
  <!--微信硬件平台授权及通信的加密key：格式采用16进制串的方式（长度为32字节）-->
  <add key="AuthKey" value="1234567890ABCDEF1234567890ABCDEF"/>
  <!--微信硬件平台接入签名密钥-->
  <add key="IotToken" value="35b8e0f3643c11e6a82002004c4f4f50"/>
  <!--微信硬件平台WiFi配网密钥-->
  <add key="WiFiKey" value="9t1ZYij73JpYQenf"/>
  
  <!--微信公众平台配置-->
  <add key="WechatToken" value="0dda742a645a11e6a82002004c4f4f50"/>
  <add key="WechatEncodingAESKey" value="NJThxVm2mzi7DBwST91TwYMBUDYA124LSt6ZCs3HPHV"/>
  <add key="WechatAppIdForIot" value="wx39a24bd89322ef5a"/>
  <add key="WechatAppSecretForIot" value="5218d21cc1d81cc50853dbe5a651a42a"/>
  <add key="WechatSubscribeAutoMessage" value="感谢您关注映美打印！"/>
</appSettings>