<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link rel="stylesheet" href="../../Styles/bootstrap.min.css" >
	<link rel="stylesheet" href="../../Styles/open.css">
</head>
<body>
<!-- 导航 -->
<div class="navbar navbar-open">
	<div class="container">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">微云打开放平台</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<!-- <li><a href="">登录</a></li> -->
			<!-- <li><a href="">注册</a></li> -->
		</ul>
	</div>
</div>
<!-- 主体 -->
<div class="container">
	<div class="register-success">
		<p class="register-success-info">注册成功</p>
		<p>激活链接已发送到您的邮箱,请进入您的邮箱 123456@123.com 进行激活</p>
		<p>激活链接24小时内有效,请尽快完善您的账号</p>
		<a href="./login.html" class="btn btn-action">跳转至登陆页面</a>
	</div>
</div>
<!-- 公司信息 -->
<div class="container">
	<div class="footer footer-open">
		<p>© 1998 - 2016 Tencent All Right Reserved.</p>
	</div>
</div>
</body>
</html>